<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <title>领取方法</title>
    <link rel="stylesheet" href="/static/index/css/reset.css">
    <link rel="stylesheet" href="/static/index/css/atom.css">
    <link rel="stylesheet" href="/static/index/css/global.css">
    <link rel="stylesheet" href="/static/index/css/open.css">
</head>
<body>
<div class="mod-chest-cont open-cont" >
    <div class="content" style="padding-bottom: 100px">
        <div class="gift" style="color: #ff5400;">
            【礼品领取方式】
        </div>
        <div class="func" style="color: #ff5400;">
            <p>会员凭中奖纪录前往各店铺总服务台领取。</p>
        </div>
        <div class="gift" style="color: #ff5400;">
            【礼品领取地点】
        </div>
        <div class="func" style="color: #ff5400;">
            <p>各店铺总服务台</p>
        </div>
    </div>
</div>
</body>

</html>